.home{
    width: 40%;
    margin:30px auto;
    background:black;
    color:white;
    padding:20px;
    min-height:70vh;
    position:relative;
}
.home h3{
    text-transform: capitalize;
}

.home p {
    margin-top:30px;
    text-transform: capitalize;
}

.home .door_in_button_wrapper {
    width:100% !important;
    display:flex;
    justify-content: center;
}
.home .door_in_button_wrapper #door_in_btn {
    width:80%;
    background: orange;
    border: 1px solid orange;
    border-radius: 10px;
    color:white;
    margin-top:40px;
}
.home .door_in_button_wrapper #door_in_btn button {
    border: none;
    background: transparent;
    color: white;
    width: 100%;
}

.home .footer{
    position: absolute;
    bottom:10px;
    display:flex;
    color:white;
    width:100%;
}

@media(max-width:704px){
    .home{
        width:70%;
    }
}

@media(max-width:308px){
    body{
        overflow-x: hidden;
    }
    .home .footer{
        display:none;
    }
    .home{
        width:100%;
    }
}