
.mainWrapper{
    width:40%;
    background: white;
    color:black;
    padding:30px;
    margin:30px auto;
    box-shadow: 1px 2px 8px #b1acac;
    position: relative;

}
.sex_form_div{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ff9900;
    border-radius: 13px !important;
    margin:20px 0px 20px 0px;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.center_button{
    display: flex;
    justify-content: center;
}

.navigation_buttons {
    position:absolute;
    font-weight: bolder;
    cursor:pointer;
    font-size: 29px;
    top: -10px;
    right: 20px;

    border-radius: 50%;
}

.error{
    color:crimson;
    font-size:12px;
}
.disabled{
    opacity:0.5;
    pointer-events:none;
    cursor:not-allowed;
}
.steps{
    display: flex;
    width: 40%;
    margin: 0px auto;
    justify-content: center;
    margin-bottom: 15px;
}

.step{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border: 1px solid #ff9900;
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px #ff9900;
}
.step.active{
    box-shadow: inset 0px 0px 9px 4px #ff9900;
}


.form_rounded_wrapper{
    border: 1px solid orange;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 12px;
}

select{
    border: 1px solid orange !important ;
}



@media(max-width:416px){
    .steps{
        display:none;
    }
}

@media(max-width:677px){
    .mainWrapper{
        width: 70% !important;
    }
}

@media(max-width:343px){
    .mainWrapper{
        width: 90% !important;
    }
}

@media(max-width:190px){
    .mainWrapper{
        width: 100% !important;
    }
}


/* THEME MODE CSS */
.lightMode{
    background: white;
}

.lightMode *{
    color: black;
}

.darkMode {
    background: black !important;
}

.darkMode *{
    color: white;
}
.darkMode  input[type="submit"],.lightMode input[type="submit"]{
    color:white;
    background:#26a69a;
}

.darkMode  select{
    background:black;
}
.lightMode  select,.lightMode  select option{
    
    background:white;
}
.darkMode  select option, .lightMode  select option{
    color:black;
}



/*TOGGLER STYLES */
.toggleContainer{
    position: absolute;
    top: 10px;
    outline: none;
    width: 33px;
    height: 8px;
    border: 1.2px solid orange;
    right: 60px;
    border-radius: 43px;
}

.toggler{
    width: 19px;
    height: 18px;
    border: 1px solid #26a69a;
    position: absolute;
    top: -6px;
    border-radius: 61px;
    background: #26a69a !important;
    left: -3px;
    transition: 0.5s ease;
}
.toggler.light{
    transform: translateX(0%);
}
.toggler.dark{
    transform: translateX(100%);
}