
.mainWrapper{
    width:40%;
    background: white;
    color:black;
    padding:30px;
    margin:30px auto;
    box-shadow: 1px 2px 8px #b1acac;
    position: relative;

}
.sex_form_div{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.center_button{
    display: flex;
    justify-content: center;
}
.navigation_buttons {
    position:absolute;
    font-weight: bolder;
    cursor:pointer;
    font-size: 29px;
    top: -10px;
    right: 20px;

    border-radius: 50%;
}
label {
    font-size: 13px;
    color: grey;
}
.error{
    color:crimson;
    font-size:12px;
}
.disabled{
    opacity:0.5;
    pointer-events:none;
    cursor:not-allowed;
}
.steps{
    display: flex;
    width: 40%;
    margin: 0px auto;
    justify-content: center;
    margin-bottom: 15px;
}

.step{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px #d4d4d4;
}
.step.active{
    box-shadow: inset 0px 0px 9px 4px #776f6f;
}


#last_step::after{
    content :"";
    position: absolute;
    border:0px solid blue;
    width:200%;
    top:50%;
    margin-left:10px;
}

@media(max-width:416px){
    .steps{
        display:none;
    }
}

@media(max-width:677px){
    .mainWrapper{
        width: 70% !important;
    }
}

@media(max-width:343px){
    .mainWrapper{
        width: 90% !important;
    }
}

@media(max-width:190px){
    .mainWrapper{
        width: 100% !important;
    }
}